.image-about img{
    height: 400px;
    transition: transform 0.3s ease;
}
.image-about img:hover{
    transform: scale(1.1);
    opacity: 75%;
}
.image-about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.about h1{
    font-size: 80px;
    font-weight: 500;
    color:#0563bb;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.about p{
    text-align: center;
    color: #535c68;
}
.detail-about {
    margin-top: 50px;
}
.detail-about h3{
    color: #0563bb;
}
.detail-about .para{
    color: #535c68;
    font-size: 20px;
}
.list-details ul{
    list-style:none;
}
.list-details ul li {
    font-size: 18px;
}
.list-details ul li{
    color: #535c68;
    margin-top: 10px;
}
.list-details ul li span{
    color: #0563bb;
    font-weight: 300;
}
.detail-about .para1{
    color: #535c68;
    font-size: 18px;
}
